button{
    width: 100%;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    border-style: none;
    border-radius: 1vh;
    color: white;
    justify-content: space-around;
    background-color: #26c7dc;
    height: 6vh;
    font-family: "Monserrat-Estandart";
    font-size: 15px;
    
}