

.staticMenu{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2vh;

    &-img{
        width: 6vh;
    }
}

.thestaticMenu{
        bottom: 0;
        position: fixed;
        width: 100%;
        z-index: 5000;
}