.register{
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 121px;
    }    

    &__img1{
        width: 111px;
        height: 111px;               
        object-fit: cover;    
    }

    &__img2{
        width: 80px;
        height: 80px;
        object-fit: cover;   
        position: relative;
        bottom: 105px;
        left: 0px;       
    }
    &__img3{
        color:#27c7dc;        
        position: relative;
        bottom: 120px;
        font-size: 15px;            
    }

    &__body{
        width: 90%;        
        display: flex;
        flex-direction: column;
        gap:20px;
        align-items: center;

    }
    &__title{
        margin-top: 30px;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &__subtitle{
        font-size: 19px;     
        font-weight: 600;           
    }
    &__form{        
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 60px;
        max-width: 600px;
    }
    &__btn{
        width:auto;
        font-size: 22px;
        color: white;
        background-color: #cccccc;
        border: none;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        // 70faff
        // 00cadf        
    }
    &__btn:hover{
        background-color: #27c7dc;
    }
    &__volver{
        position: relative;
        left: -158px;      
        top:30px;
        color: #27c7dc;
    }
    &__blue{
        color: #27c7dc;
    }

    &__email{         
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid grey;
        font-size: 15px;
        height: 40px;
    }
    &__pwd{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid grey;
        font-size: 15px;
        height: 40px;
    }
    &__new-link{
        color: #27c7dc;
        font-size: 20px;
        font-weight: 600;
    }
}
input {
    display: block;
    width: 100%;
  }