.alergicPage{
  display: flex;
  flex-direction: column;

  &__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    padding-top: 20px;

  }
  &__title{
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;

    h2{
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 30px;
      font-size: 25px;
    }
    p{
      padding-left: 20px;
      padding-right: 20px;
      color: gray;
      font-size: 18px;
    }
  }
  &__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid grey;
    margin: 20px 25px 20px 25px;
    padding: 20px;
    align-items: center;
    gap: 40px;

    li{
      button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgb(176, 176, 176);
        width: 40px;
        height: 40px;
        border: none;
        color: white;
      }
    }
  }
  &__words{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;

    &__box{

      &--letter{
        align-items: center;
        justify-content: center;
        height: 30px;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 30px;
        border-radius: 30px;
        display: flex;
        border: 1px solid grey;
        background-color: rgb(176, 176, 176);
        color: white;
      }
      &--c{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        &--1{
          align-items: center;
          justify-content: center;
          height: 30px;
          padding: 25px;
          border-radius: 30px;
          display: flex;
          border: 1px solid grey;
          background-color: white;
          color: grey;
        }
        button.selected {
          background-color: pink;
        }
      }
    }
    
  }
  &__btn{
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 7px;
    border: none;
    padding: 15px;
    background-color: rgb(4, 225, 250);
    border-color: rgb(4, 225, 250);
    
    a{
      color: white;
      font-weight: bold;
    }
  }
}
