a{
    color: rgb(39, 199, 220);
    font-weight: bold;
    font-size: 15px;
}
.evaluate-container{
    width: 100%;
    height: 100vh;
}
.c-evaluate-padre{

    text-align: center;
    display: block;
    margin-top: 250px;

    &__c-logo-hijo{
        
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img-logo{
            // width: 232px;
            // height: 232px;
        }
    }
    &__c-texto-hijo{
        margin: 0px auto;
    }
    &__c-stars-hijo{
        margin: 0px auto;
    }
    &__c-link-hijo{
        margin: 0px auto;
        bottom: 4vh;
    }
}
