*{
    margin: 0;
    padding: 0;
}
.container-inicio{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.container-flash{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

}
.container-main{
    width: 100%;
    height: 100vh;
    &__imglogo{
        bottom: 50px;
        max-width: 600px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    &__nav-container{
        display: flex;
        justify-content: space-around;
        width:100%;
        margin-top: 95px;
        bottom: 4vh;
        // position: fixed;
        &__nav-button{
            color: rgb(39, 199, 220);
            font-size: 18px;
            font-family: Monserrat-Estandart;
            border: none;
            background-color: white;
        }
    }
}
.onboarding{
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    align-content: center;
    margin-top: 25%;
    }
.p-carousel-horizontal{
    max-width: 600px;
}
.img-logo-texto{
    width: 50%;
    display: flex;
    margin-top: 12vh;
}
.text-container{
    text-align: center;
    &__texto{
    font-size: 20px;
    margin-top: 3vh;
    }
}
.nav-container{
    display: flex;
    justify-content: space-around;
    width:100%;
    margin-top: 10%;
    bottom: 4vh;
    position: fixed;
    &__nav-button{
        color: rgb(39, 199, 220);
        font-size: 18px;
        font-family: Monserrat-Estandart;
        border: none;
        background-color: white;
    }
}
.applergicPpal{
    object-fit: cover;
    display: flex;
    justify-content: center;
    &__image{
        width: 391px;
        height: 529px;
    }
}
.inicioImagen{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    &__imagen{
        width: 60%;
    }
}