.profileEnd{
  display: flex;
  flex-direction: column;

  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 100px 15px;
  }
}