.profileEnd{
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 100px 15px;
  }
  &__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 150px;

    img{
      padding-bottom: 40px;
    }
    h3{
      padding-right: 60px;
      padding-left: 60px;
    }
  }
  button{
    width: 80%;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 7px;
    border: none;
    padding: 15px;
    background-color: rgb(4, 225, 250);
    border-color: rgb(4, 225, 250);
    a{
      color: white;
      font-weight: bold;
    }
  }
}